@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: Open Sans sans-serif;
    font-weight: 300;
    color: #252525;
    overflow-x: hidden;   
}
/* headings and Logos*/
h3, h1 {
    font-family: Oswald sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 300%;
    letter-spacing: 1px; 
    color: #252525; 
    text-decoration: none;
    margin-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;   
}

#menu, #logo{
    line-height: 75px;  
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #3a3a3a     
}

/*Yoga image and cover text*/

#Yoga-main{
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    background-position: right bottom, left top;
}
#cover-text h2 {
        color: #3a3a3a
}
#cover-text {
    font-family: Open Sans sans-serif;
    font-size: 150%;
    text-align: center;
    letter-spacing: 2px;
    bottom: 80px;
    right: 30px;
    display: inline-block;
    padding: 2px;
    background-color: #f7dfdf;
    position: absolute;
    border-radius: 5px;
    border: solid 1px #f7dfdf;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid #f16c6b;
}
.active {
    border-bottom: 1px solid #f16c6b;
}

#yogaimage {
    height: 650px;
    width: 100%;
    background: url(../images/Hero-imagee.jpg) no-repeat center center;
    background-size: cover;
    padding: 15px;
}
    #welcome {
        text-align: center;
        padding: 5px;
    }

    #note {
        margin-left: 80px;
        margin-right: 80px;
        font-size: 130%;
        text-align: justify;
    }
    #benefits > h2 {
        text-align: center;
        font-size: 150%; 
        padding: 30px 75px;
    }  
      

    /* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 20px 15px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f59e9e;
    border-radius: 5px;
  }


    

/*Footer section*/

footer {
    
    background-color: #3a3a3a;
    height: 400%;
}



.socialmedia {
    text-align: right;
}
.socialmedia >li {
        display: inline-block;  
      }

.socialmedia i{
    font-size: 300%;
    padding: 20px 20px;
    color: #f16c6b;
    
      }

      #copyright{
          color: #f16c6b;
          padding: 20px 20px;    
          font-size: 150%;
      }

      /*Gallery page*/
       
       .image-container {
        clear: both;
        column-count: 4;
        justify-content: center;
        column-gap: 1px;
        padding-left: 4rem;
       }
     
      /*Contact page*/

      .contact-info {
          display: block;
          text-align: center;
          font-size: 120%;
          font-family: Open sans sans-serif;
          min-height: 40vh;
      }

      .info {
          text-align: center;
          font-family: Open sans sans-serif;
          font-size: 120%;
          max-height: 40vh;
          margin-top: 50px;      
      }
    
      .map-section {
        padding: 50px 100px 50px 100px;
        border-radius: 4px;
        align-items: center;  
      }

     .yogapose {
        clear: both;
        min-height: 300px;
        width: 100%;
        background: url(../images/Stand\ on\ a\ knee\ pose.jpg) no-repeat center center;
        background-size: cover;
     }

     /*Media Queries*/

     /*For medium screen sizes from 950px wide and down*/

@media screen and (max-width: 950px) 
{
    #menu {
        clear: left;
        float: left;
        margin-left: 32px;
        margin-bottom: 20px;
        line-height: 20px;
    }


#cover-text {
    left: 0;
    right: auto;
}

#logo{
    left: 0;
}

#note
{
    left: 0;
}
.column {
    width: 30%;
  }

.image-container {
   column-count: 2;
   float: left;   
}


}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }



  /*Workshop section*/

  .yogatutors {
    clear: both;
    min-height: 300px;
    width: 100%;
    background: url(../images/Online\ learning.jpg) no-repeat center center;
    background-size: cover;
  }

  #workshop-times
  {
      text-align: center;
      font-family: Open sans sans-serif;
      font-size: 120%;
      color: #252525;
      padding: 20px 40px;
      
  }

  /*Signup section*/
  .signup-form {
    
        margin: 100px 10% 0 0;
        color: #fff;
        background-color :rgba(60, 60, 60, 0.6);
        max-width: 400px;
        position: relative;
        left: 125%;
        padding: 20px;
        border-radius: 10px;
        border-color: #f16c6b solid 2px;
        padding-top: 3rem;
        
       
    
  }
  .form-section {
        width: 450px;
        height: 650px;
        position: relative;
        
        
        
  }

  .signup-form > h2 {
    color: #fafafa;
    padding-bottom: 3rem;
}

.text-inputs{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 3px solid #fafafa;
    border-radius: 2px;
}

.text-inputs:hover {
    border-color: #f16c6b;
}

.join-button {
    margin: 10px 60px 10px 130px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;  
}

.join-button:hover { 
    background-color: #fafafa;
    color: #f16c6b;
}