@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}
body {
    font-family: Open sans sans-serif;
    font-weight: 300;
    
    
}



/* headings and Logos*/

h3, h1 {
    font-family: Oswald sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 250%;
    margin-left: 35px;   
}

/* navigation links*/

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu, #logo{
    line-height: 85px;
    padding: 80px;
    text-align: center;
    background: rgba(241, 109, 107, 0.7);
    
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #3a3a3a  
}

/*Yoga image and cover text*/

#Yoga-main{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    background-position: right bottom, left top;
 
}
#cover-text h2{
    
    color: #fff;

}
#cover-text{
    font-family: Open Sans sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 160px;
    height: 120px;
    border-radius: 200%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 60px;
    background-color: rgba(177, 60, 58, 0.7);
    bottom: 300px;
    right: 150px;

    position: absolute;

}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 4px solid #3a3a3a;
}
.active{
    border-bottom: 4px solid #3a3a3a;
}

#yogaimage{
    height: 650px;
    width: 100%;
    background: url(../images/Spiritwithin.jpg) no-repeat center center;
    background-size: cover;
    padding: 15px;
    
    }

    #welcome{
        text-align: center;
    }

    #note{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 130%;
        text-align: justify;
    }
    #benefits h2
    {
        box-sizing: border-box;
        height: 10px;
        text-align: center;
      }


    /* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 5px 20px;
  }

  /* Remove extra left and right margins, due to padding in columns */
.row {margin: 100px 200px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  background-color: rgba(241, 109, 107, 0.7);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*Footer section*/

.foot{
    background-image: url(../images/footer\ tree.jpg);
    background-size: cover;
    height: 150%;
}
.container{
    font-size: 120%;
    color: #fff;
    text-align: center;
}

.text-input{
    margin:5px;
    width: 20%;
    height: 25px;
    padding: 6px;
    text-align: center;
    font-size: 80%;
}
.join{
    border-radius: 12px;
    font-size: 90%;
    margin: 5px 20px;
    display: inline-block;
    padding: 6px;
    background-color: #f16c6b;
}


.socialmedia{
    text-align: right;
}
.socialmedia >li{
       
        display: inline-block; 
        
      }

.socialmedia i{
    font-size: 200%;
    margin-bottom: 20px;
    margin-right: 50px;
    padding: 2%;
    color: #fff;
    
      }

      #copyright{
          color: #fff;
          margin-left: 10px;
          margin-bottom: 20px;
      }

      